<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:sch="http://itau.com.co/services/accounts/accountsdetailbydocument/v2/schemas" xmlns:sch1="http://itau.com.co/commoncannonical/v2/schemas">
   <soapenv:Header/>
   <soapenv:Body>
      <sch:getAccountsDetailByDocumentRequest>
         <sch:HeaderRequest>
            <!--Optional:-->
            <sch1:MessageHeader>
               <!--Optional:-->
               <sch1:MessageKey>
                  <!--Optional:-->
                  <sch1:integrationId>string</sch1:integrationId>
                  <!--Optional:-->
                  <sch1:requestVersion>string</sch1:requestVersion>
                  <sch1:requestUUID>${headers.requestUUID}</sch1:requestUUID>
               </sch1:MessageKey>
               <!--Optional:-->
               <sch1:MessageInfo>
                  <sch1:dateTime>${headers.dateTime}</sch1:dateTime>
                  <sch1:systemId>string</sch1:systemId>
                  <!--Optional:-->
                  <sch1:originatorName>${headers.originatorName}</sch1:originatorName>
                  <sch1:originatorType>${headers.originatorType}</sch1:originatorType>
                  <sch1:terminalId>${headers.terminalId}</sch1:terminalId>
                  <!--Optional:-->
                  <sch1:terminalType>string</sch1:terminalType>
                  <!--Optional:-->
                  <sch1:bankIdType>string</sch1:bankIdType>
                  <!--Optional:-->
                  <sch1:bankId>string</sch1:bankId>
                  <!--Optional:-->
                  <sch1:trnType>string</sch1:trnType>
               </sch1:MessageInfo>
               <!--Optional:-->
               <sch1:TrnInfoList>
                  <!--Zero or more repetitions:-->
                  <sch1:TrnInfo>
                     <!--Optional:-->
                     <sch1:trnCode>string</sch1:trnCode>
                     <!--Optional:-->
                     <sch1:trnSrc>string</sch1:trnSrc>
                  </sch1:TrnInfo>
               </sch1:TrnInfoList>
            </sch1:MessageHeader>
            <!--Optional:-->
            <sch1:User>
               <!--Optional:-->
               <sch1:userName>TEST</sch1:userName>
               <!--Optional:-->
               <sch1:userToken></sch1:userToken>
               
            </sch1:User>
         </sch:HeaderRequest>
         <sch:CustId>
            <!--Optional:-->
            <sch1:SPName></sch1:SPName>
            <!--Optional:-->
            <sch1:custPermId>${headers.custPermId}</sch1:custPermId>
            <!--Optional:-->
            <sch1:custLoginId></sch1:custLoginId>
            <!--Optional:-->
            <sch1:custType>${headers.custType}</sch1:custType>
         </sch:CustId>
         <!--Optional:-->
         <sch:AcctStatus>
            <!--Optional:-->
            <sch:acctStatusCode>${headers.acctStatusCode}</sch:acctStatusCode>
            <!--Optional:-->
            <sch:restrictedCbInd>${headers.restrictedCbInd}</sch:restrictedCbInd>
            <!--Optional:-->
            <sch:restrictedCrInd>${headers.restrictedCrInd}</sch:restrictedCrInd>
            <!--Optional:-->
            <sch:lockStatusInd>${headers.lockStatusInd}</sch:lockStatusInd>
            <!--Optional:-->
            <sch:additionalStatus>${headers.additionalStatus}</sch:additionalStatus>
         </sch:AcctStatus>
      </sch:getAccountsDetailByDocumentRequest>
   </soapenv:Body>
</soapenv:Envelope>